.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}


.modal {
  position: fixed;
  top: 20vh;
  left: 34vw;
  width: 400px;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}


.modal h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


/* Input fields */
.input-field {
  margin-bottom: 15px;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button container */
.button-container {
  text-align: right;
}

/* Save and cancel buttons */
.save-button, .cancel-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button {
  background-color: #006790; /* Green */
  color: #fff;
}

.cancel-button {
  background-color: #f44336; /* Red */
  color: #fff;
}

/* Style for when the modal is open */



@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}